html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    height: 100%;
}



svg {
    filter: drop-shadow(30px 10px 4px #dcdcdc);
}

body{
    background-color: hsl(60, 33%, 4%);
    height: 100%;
    min-width: 537px;
    
}
.content-container{
    display: block;
    background-color: yellow;
}
.title-search-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    right: 0;
    
   
   
}
.title-search-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    width: 68%;
}
.title-description-container{
    background-color: burlywood;
    
}

.title{
    color: rgb(2, 0, 0);
    background-color: palegreen;
    font-family: 'Bungee Shade', cursive;
    font-size: 90px;

}
.description{
    color: rgb(2, 0, 0);
    background-color: rgb(240, 176, 226);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;  
    font-size: 15px;
    text-align: center;
}
.search{
    border: none;
    /* width: 100%; */
    background-color: transparent;
    /* margin-left: 50px; */
    font-size: 30px;
    text-align: center;
    min-width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;  
    
}
.link-container{
    
    background-color: deepskyblue;
    /* min-width: 108px; */
    float: right;
}
.clear {
     clear: both; }



.canvas{
    box-sizing: border-box;
    width: 100%;
    min-height: 93vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    overflow: auto;
}
footer{
    position: absolute;
    display: block;
    bottom: 0%;
    background-color: teal;
}

