html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
    text-decoration: none;
     color: #809cb0;
}

html{
    height: 100%;
}



svg {
    filter: drop-shadow(-21px 24px 4px #17191a);
    background-color: transparent;    
}
/* 121516b8 #222629b */

body{
    height: 100%;
    min-width: 537px;
    /* background-color: #F4F4F4; */
    /* background-color: #f6f7f8); */
    /* background-repeat: no-repeat; */
}
.content-container{
    /* background-image: linear-gradient(0deg, #38527a, #7785a3, #b5bccd, #f6f7f8); */
    /* background-image: linear-gradient(0deg, #38527a, #f6f7f8); */
    /* background-image: linear-gradient(0deg, #406e8a, #809cb0, #bfccd7, #ffffff); */
    /* background-image: linear-gradient(0deg, #081319, #52585c, #a4a7aa, #ffffff); */
    /* background-image: linear-gradient(0deg, #021d18, #455556, #8e949d, #ddd9ea); */
    /* background-image: linear-gradient(0deg, #061a17, #4b5857, #989fa1, #edecf2); */
    /* background-image: linear-gradient(30deg, #021d18, #455556, #dedaeb); */
    background-image: linear-gradient(30deg, #0a2a45, #4a5f74, #879ba7, #c7dbdc);
    display: block;
    /* background-color: yellow; */
}
.title-search-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aqua; */
    right: 0;
    
   
   
}
.title-search-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    width: 75%;
    padding-top: 13px;
    padding-left: 36px;
}
.title-description-container{
    /* background-color: burlywood; */
    
}

.title{
    color: rgb(2, 0, 0);
    /* background-color: palegreen; */
    font-family: 'Bungee Shade', cursive;
    text-shadow: -5px 3px 4px #52585cb8;
    font-size: 90px;

}
.description{
    color: rgb(2, 0, 0);
    /* background-color: rgb(240, 176, 226); */
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;  
    text-shadow: -5px 3px 4px #52585cb8;
    font-size: 15px;
    text-align: center;
}
.search{
    font-family: 'Bungee Shade', cursive;
    border: none;
    /* width: 100%; */
    background-color: transparent;
    /* margin-left: 50px; */
    font-size: 28px;
    text-align: left;
    min-width: 358px;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: lighter;  
    text-shadow: -4px 3px 4px #52585cb8;
    outline: none;
    margin-left: 34px;
    vertical-align: bottom;
    padding-top: 31px;
}

.link-container{
    
    /* background-color: deepskyblue; */
    /* min-width: 108px; */
    float: right;
}
.clear {
     clear: both; }


.canvas{
    box-sizing: border-box;
    width: 100%;
    min-height: 93vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

footer{
    position: absolute;
    display: block;
    bottom: 0%;
    align-content: left;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 11px;
    color: #809cb0;
}

main{
    position: relative;

}

.icon{
    height: 24px;
    width: 24px;
}