html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
    text-decoration: none;
     color: #809cb0;
}

html{
    height: 100%;
}



svg {
    filter: drop-shadow(-21px 24px 4px #17191a);
    background-color: transparent;    
}

body{
    height: 100%;
    min-width: 537px;
}
.content-container{
    background-image: linear-gradient(30deg, #0a2a45, #4a5f74, #879ba7, #c7dbdc);
    display: block;
}
.title-search-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    position: relative;
    
   
   
}
.title-search-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    width: 75%;
    padding-top: 13px;
    padding-left: 36px;
}


.title{
    color: rgb(2, 0, 0);
    font-family: 'Bungee Shade', cursive;
    text-shadow: -5px 3px 4px #52585cb8;
    font-size: 90px;

}
.description{
    color: rgb(2, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;  
    text-shadow: -5px 3px 4px #52585cb8;
    font-size: 15px;
    text-align: center;
}
.search{
    font-family: 'Bungee Shade', cursive;
    border: none;
    background-color: transparent;
    font-size: 28px;
    text-align: left;
    min-width: 358px;
    font-weight: lighter;  
    text-shadow: -4px 3px 4px #52585cb8;
    outline: none;
    margin-left: 34px;
    vertical-align: bottom;
    padding-top: 31px;
}

.link-container{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-right: 18px;
}
.clear {
     clear: both; }


.canvas{
    box-sizing: border-box;
    width: 100%;
    min-height: 93vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

footer{
    position: absolute;
    display: block;
    bottom: 5%;
    align-content: left;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 11px;
    color: #809cb0;
}

main{
    position: relative;
  
}

.icon{
    height: 20px;
    width: 20px;
}

.icon-container{
 margin-left: 10px;
}


.intro-container{
    position: relative;
    display: block;
    width: 100%;
    align-content: center;
}
.text-container{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 475px;
  min-width: 400px;

  
  border: 2px solid #851e3e;
  border-radius: 5px;
  padding: 20px;
  filter: drop-shadow(-21px 24px 4px #17191a);
  background-image: linear-gradient(30deg, #0a2a45, #4a5f74, #879ba7, #c7dbdc);
}
.text-title{
    text-align: center;
    color: rgb(2, 0, 0);
    font-family: 'Bungee Shade', cursive;
    
    font-size: 52px;
    border-bottom: 2px solid #851e3e;
    padding-bottom: 10px;
    
}
.intro-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid #851e3e;
    line-height: 1.25em;
    font-size: 15px;
}

.enter-email{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding-top: 12px;
}

#no-breach{
    display: none;

}
#no-breach-txt{
    font-size: 19px;
}
#no-breach-text{
    
}