/* loader prvovided by Amine Bahmed 
https://gitlab.com/MohamedBahmed/google-loaders-redesign/tree/master/animation-2 */

#loader{
  flex-direction: column;
}
#loaderPopUp {
  display: none;
      font-family: lato;
    text-align: center;
    margin-bottom: 33px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: hsl(212, 51%, 39%);
    color: white;
    padding: 25px;
    padding-right: 40px;
    padding-left: 40px;
}
.loader-container {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  -webkit-animation: rotation 1s infinite;
          animation: rotation 1s infinite;
}
.loader-container .shape {
  position: absolute;
  width: 10px;
  height: 10px;
}
.loader-container .shape.shape-1 {
  left: 0;
  background-color: #4285F4;
  border-top-left-radius: 10px;
}
.loader-container .shape.shape-2 {
  right: 0;
  background-color: rgb(89, 166, 248);
  border-top-right-radius: 10px;
}
.loader-container .shape.shape-3 {
  bottom: 0;
  background-color: rgb(247, 189, 89);
  border-bottom-left-radius: 10px;
}
.loader-container .shape.shape-4 {
  bottom: 0;
  right: 0;
  background-color: rgb(34, 118, 187);
  border-bottom-right-radius: 10px;
}
.loader-container .shape-1 {
  -webkit-animation: shape1 0.5s infinite alternate;
          animation: shape1 0.5s infinite alternate;
}
.loader-container .shape-2 {
  -webkit-animation: shape2 0.5s infinite alternate;
          animation: shape2 0.5s infinite alternate;
}
.loader-container .shape-3 {
  -webkit-animation: shape3 0.5s infinite alternate;
          animation: shape3 0.5s infinite alternate;
}
.loader-container .shape-4 {
  -webkit-animation: shape4 0.5s infinite alternate;
          animation: shape4 0.5s infinite alternate;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes shape1 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
}
@keyframes shape1 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
}
@-webkit-keyframes shape2 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
}
@keyframes shape2 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
}
@-webkit-keyframes shape3 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}
@keyframes shape3 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(5px, -5px);
            transform: translate(5px, -5px);
  }
}
@-webkit-keyframes shape4 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
}
@keyframes shape4 {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
  }
}
