
.toggle-container{
    display: none;
}
.results-container {
    margin-top: 35px;
    background: rgb(49, 96, 150);
}

.results-btn-container {
    margin: auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    max-width: 550px;
}

.zero.results-btn-container{
    display: none;
}
.results-btn{
    background-color: rgb(49, 83, 124);
    border: none;
    color: rgb(255, 255, 255);
    padding: .75rem;
    margin-top: 7px;
    font-weight: 700;
    letter-spacing: .01em;
 
}
.results-btn:hover {
    color: white;
    background-color: rgb(89, 166, 248);
}
.zero.results-btn {
    display: block;
     letter-spacing: 1px;
    padding: 1.5rem;
    font-size: 13px;
}
#email1{
    display: none;
}
#for{
    display: none;
}
.results-btn-container img{
    display: none;
}
.results-top-banner{
    margin-left: .5rem;
    margin-right: .5rem;
}
.results-top-banner .big {
    padding-top: 4rem;
    font-size: 37px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
    margin: auto;
}
.results-text{
    padding-top: 20px;
    padding-right: .75rem;
    padding-left: .75rem;
    font-size: 18px;
    line-height: 1.75;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 550px;
    margin: auto;
    letter-spacing: 1.25px;
}

@media screen and (min-width: 800px){
    .results-btn-container{
        margin-top: 55px;
        padding-bottom: 35px;
    }
    #email1{
        display: block;
        padding-top: 0;
    }
    #for{
        display: block;
        padding-top: 0;
        font-size: 20px;
        margin-bottom: -5px;
    }
    #big{
        padding-top: 4.25rem;
        font-size: 50px;
        
    }
    .results-btn-container img{
        display: block;
        height: 32px;
        width: 32px;
        margin-top: 7px;
    }
}
/* chart */

/* contained in scatter_plot.css  */

/* ////////chart/////// */
/* breach-results-container */
.breach-index{
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    transition: all 0.2s ease-in-out;
  
}
.card-is-collapsed{
    margin: auto;
}
.card-is-expanded{
    margin: auto;
}
.breach-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    width: 300px;
    background-color: rgb(49, 96, 150);
    padding: 15px;
    box-sizing: border-box;
    margin: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;

}
.card-is-collapsed .breach-card:hover{
    background-color: rgb(89, 166, 248);
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.card-is-expanded .breach-card{
    background-color: rgb(89, 166, 248);
    transition: all 0.2s ease-in-out;
}

.breach-card .h3{
    display: inline-block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.card-title {
    font-size: 22px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.info-expander{
    max-width: 300px;
    transition: all 0.2s ease-in-out;
    height: 0px;
    overflow: visible;
    margin-top: 30px;
    margin-bottom: 15px;
    opacity: 1;
    background-color: rgb(15, 85, 132);
    position: relative;
    color: rgb(255, 255, 255);
}
.card-is-collapsed .info-expander{
    display: none;
    transition: all 0.2s ease-in-out;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    opacity: 5;
}
.card-is-expanded .info-expander{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
    min-height: 200px;
    height: auto;
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    opacity: 1;
}
.card-is-expanded .breach-card::after{
    content: " ";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(15, 85, 132);
    transition: all 0.2s ease-in-out;
}

.logo-date-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-date-container .logo-container{
    width:  110px;
    margin-top: 45px;
    height: 100%;
}
.logo-date-container img{
    max-width:  100%;
    height: auto;
}

.compromised-title{
    margin-top: 36px;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.25px;
    padding: 12px;
}
.compromised-items-border{
    border: 1.5px solid hsl(212, 51%, 39%);
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.compromised-items-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: fit-content;
    margin: auto;
    padding-left: 35px;
    padding-top: 5px;
    padding-right: 9px;
    padding-bottom: 5px;
}
.items{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.5px;
    padding: 12px;
    padding-left: 0px;
}
.info-expander .description{
    padding: 25px;
    padding-left: 30px;
    font-size: 14x;
    font-weight: 300;
    letter-spacing: .75px;
    line-height: 1.5;
}
.description a{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width: 690px){
    .breach-results-container .how-it-works-text{
    
      font-size: 40px;
      font-weight: 400;
      padding-bottom: 40px;
    }
    .breach-index{
        width: 660px;
        margin: auto;
    }
    .card-is-expanded .info-expander{
        max-width: none;
        width: 630px;
        padding-top: 30px;
    }

    .card:nth-of-type(2n) .info-expander{
        margin-left: calc(-100% + 15px);
    }

    .card-is-expanded{
        width: 330px;
        margin: 0;
    }
    .card-is-collapsed{
        margin: 0;
    }

    .compromised-title{
        font-size: 37px;
        font-weight: 300;
    }
    .compromised-items-border{
        width: 556px;
        margin-top: 18px;
        margin-bottom: 20px;
    }

    .compromised-items-container{
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
    }   
    .items{
        width: fit-content;
        box-sizing: border-box;
        padding-left: 0px;
        margin-left: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .info-expander .description{
        font-size: 16x;
    }

    #one{
        justify-content: center;
        width: auto;
        margin: 0;
    }

    #one .card-is-expanded .info-expander{
        margin-left: calc(-50% + 15px);
    }
}
@media screen and (min-width: 990px){
    .breach-index{
        width: 990px;
    }
     .card-is-expanded .info-expander{
        width: 960px;
    }
     .compromised-items-border{
        width: 720px;
    }
     .card:nth-of-type(3n+1) .info-expander{
        margin-left: 15px;
    }
     .card:nth-of-type(3n+2) .info-expander{
        margin-left: calc(-96% + 2px );
    }
     .card:nth-of-type(3n+3) .info-expander{
        margin-left: calc(-100% - 315px );
    }
    .info-expander .description{
        padding-top: 35px;
        padding-right: 50px;
        padding-bottom: 43px;
        padding-left: 55px;
    }

      .breach-index.one{
        justify-content: center;
        width: auto;
        margin: 0;
    }

    #one .card-is-expanded .info-expander{
        margin-left: calc(-50% + 15px);
        width: 630px;
    }

    .one .compromised-items-border{
        width: 556px;
    }

    .two .compromised-items-border{
        width: 556px;
    }
  
     #two{
        justify-content: center;
        width: auto;
        margin: 0;
    }

    .card-is-expanded .info-expander.two{
        width: 630px;
        margin-left: 15px;
    }

    .card:nth-of-type(2) .two{
        margin-left: calc(-100% + 15px);
    }
     
}

@media screen and (min-width: 1320px){
    .breach-index{
        width: 1320px;
    }
    .card-is-expanded .info-expander{
        width: 960px;
        padding-top: 40px;
    }

    .compromised-title{
        margin-top: 40px;
    }
    .compromised-items-border{
        width: 720px;
    }


    .card:nth-of-type(4n+1) .info-expander{
        margin-left: 15px;
    }
     .card:nth-of-type(4n+2) .info-expander{
        margin-left: calc(-96% + 2px );
    }
     .card:nth-of-type(4n+3) .info-expander{
        margin-left: calc(-100% - 315px );
    }
      .card:nth-of-type(4n+4) .info-expander{
        margin-left: calc(-200% + 15px );
    }

    #one .card-is-expanded .info-expander{
        margin-left: calc(-50% + 15px);
        width: 630px;
    }

    .three .compromised-items-border{
        width: 556px;
    }

    #three{
        justify-content: center;
        width: auto;
        margin: 0;
    }

    .card-is-expanded .info-expander.three{
        width: 960px;
        margin-left: 15px;
    }

    .card:nth-of-type(2) .three{
        margin-left: calc(-96% + 2px );
    }
    .card:nth-of-type(3) .three{
        margin-left: calc(-100% - 315px );
    }
   
}
/*////// breach-results-container/////// */


