#cc {
    display: none;
  
}

#svg-container {
    display: none;
    padding: .75rem;
}

.box-size {
  /* height: 3567px;
  width: 100%; */
  
}

.axis .domain{
    stroke: rgb(204, 204, 204);
    stroke-width: 1;
    opacity: 1;
    shape-rendering: crispEdges;
}

.axis line {
    stroke: none;
    stroke-width: none;
}
.axis  text{
    font-size: 18px;
    font-weight: 700;
    fill: #666666;
    font-family: Lato;
}

.axis rect {
    fill: none;
    stroke: rgb(204, 204, 204);
    stroke-width: 2;
    fill: none; 
    border-radius: 1;
}

