.leaves{
    stroke-width: 3px;
    stroke:  #851e3e;
    fill:  #851e3e;
    
}

.leaves:hover{
    stroke: #aaaaaa;
    fill: #aaaaaa;
    stroke-width: 4px
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: rgb(96, 160, 151);
  pointer-events: none;
  max-width: 300px;
  border-radius: 5px;
  background-size: contain;
  border: 20px solid rgb(96, 160, 151);
  filter: drop-shadow(-21px 24px 4px #17191a);
  word-break: break-all;
}

.rect{
  fill: #eeeeee;
  stroke-width: 2px;
  position: relative;
  border-radius: 5px;
 

}

path{
  stroke:  #851e3e;
}
text{
  font-family: 'Bungee Shade', cursive;
  font-size: 29px;
  

}