.leaves{
    stroke-width: 3px;
    stroke: black;
}

.leaves:hover{
    stroke: blue;
    fill: black;
}

.tooltip {
  position: absolute;
  text-align: center;
  /* width: 60px; */
  /* height: 12px; */
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
}

.rect{
  fill: aquamarine;
  stroke: cornflowerblue;
  stroke-width: 2px;
  position: relative;
}

path{
  stroke: aquamarine;
}