.leaves{
    /* stroke-width: 3px; */
    /* stroke: black; */
}

.leaves:hover{
    stroke: #aaaaaa;
    fill: #aaaaaa;
    stroke-width: 4px
}

.tooltip {
  position: absolute;
  text-align: center;
  /* width: 60px; */
  /* height: 12px; */
  padding: 20px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
  min-height: 100px;
  max-width: 300px;
  border-radius: 5px;
  background-color: #e8);
  /* background-color: transparent; */
  background-size: contain;
  /* border: 20px solid rgb(221, 221, 221); */
}

.rect{
  fill: #eeeeee;
  /* stroke: cornflowerblue; */
  stroke-width: 2px;
  position: relative;
  border-radius: 5px;

}

path{
  stroke:  #851e3e;
}
text{
  font-family: 'Bungee Shade', cursive;
  font-size: 29px;

}